google-api-python-client
google-auth-oauthlib
google-auth-httplib2
google-auth
docutils
feedparser
oauth2client
pyexiv2
Pillow
PyQt5
PyQtWebEngine
PyPDF2
webcolors
python-magic
requests
mutagen
selenium
sphinx-argparse
sphinx-issues
sphinx_rtd_theme
SQLAlchemy
lxml
tabulate
titlecase
matplotlib
youtube_dl
beautifulsoup4
pathos
qtmodern
sphinxcontrib-youtube @ git+https://github.com/sphinx-contrib/youtube.git@master
