docutils
feedparser
oauth2client
pyexiv2
Pillow
PyQt5
PyPDF2
webcolors
python-magic
requests
mutagen
selenium
sphinx-argparse
sphinx-issues
sphinx_rtd_theme
SQLAlchemy
lxml
tabulate
titlecase
matplotlib
youtube_dl
beautifulsoup4
pathos
